/**
* Accordeon
*/

.accordeon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 0px;
}

details {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    
}

details[open]{
    background-color: whitesmoke;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

details div {
    min-width: 200px;
    padding: 10px;
}
    